<ion-header>
  <ion-toolbar>
    <ion-title>Índice de masa corporal</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label position="floating">Masa corporal (kg)</ion-label>
    <ion-input placeholder="70.50"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Talla  (cm)</ion-label>
    <ion-input placeholder="1.75"></ion-input>
  </ion-item>

  <ion-button color="success" href="/login">Guardar</ion-button>
  <ion-button color="danger" href="/" >Cancelar</ion-button>
</ion-content>
