<ion-header>
  <ion-toolbar>
    <ion-title>Contesta la siguiente evaluación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Masa corporal (Kg)</ion-label>
    <ion-input placeholder="70.50"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Talla  (Cm)</ion-label>
    <ion-input placeholder="175"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Talla sentado (Cm)</ion-label>
    <ion-input placeholder="175"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">  Envergadura de brazos (cm)</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>


  
  <ion-item>
    <ion-label position="floating">Triceps</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>	
  <ion-item>
    <ion-label position="floating">Subescapular</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Biceps</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>	
  	
  <ion-item>
    <ion-label position="floating">Pectoral</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Axilar</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">  Cresta ilíaca</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
	
  <ion-item>
    <ion-label position="floating"> Supraespinal</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Abdominal</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>	
  	
  <ion-item>
    <ion-label position="floating">Muslo</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
   	
  <ion-item>
    <ion-label position="floating">Pierna</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Cabeza</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Cuello</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating"> Brazo relajado</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Brazo flexionado y contraído</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
   	
  <ion-item>
    <ion-label position="floating">Antebrazo</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Muñeca</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Tórax</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
   	
  <ion-item>
    <ion-label position="floating">Cintura</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
   	
  <ion-item>
    <ion-label position="floating">Caderas</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">   Muslo 1 cm glúteo</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Muslo medio</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>	
 	
  <ion-item>
    <ion-label position="floating">Pierna</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  	
  <ion-item>
    <ion-label position="floating">Tobillo</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  
  <ion-button color="success" href="/tabs/tab2">Guardar y ver Resultados</ion-button>
  <ion-button color="danger" href="/" >Cancelar</ion-button>
</ion-content>
